@model p.Database.Concrete.Entities.ImageWatermark


<div id="watermarkProfile">
    <img id="watermarkPreview" src="@Url.Action("ImageWatermarkProfile", "Images", new { id = Model.Id })" />
    <div id="watermarkSetForm">
        @using (Ajax.BeginForm("SetImageWatermark", new { id = Model.Id }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "WatermarkConfirmation",
            HttpMethod = "GET"
        }))
        {
            @Html.DropDownList("type", (SelectList)ViewBag.Albums)
            <button class="watermarkSubmit" onclick="this.form.submit()" >Set</button>
        }
    </div>
    <div id="WatermarkConfirmation">
        @Html.ActionLink("Remove", "RemoveWatermark", "WorkbenchWatermarks", new { id = Model.Id, type = Model.GetType().Name }, null)
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}