@model IEnumerable<p.Database.Concrete.Entities.Photographer>

<script type="text/javascript">
        $("#search").keyup(function () {
            $(this).closest("form").submit();
        });
        $(".blinded").click(function () {
            $(this).parent.text('Blinded');
        });
</script>
<div id="searchDiv">
@using(Ajax.BeginForm("UserFriends","FriendsZone",
                   new AjaxOptions { HttpMethod = "POST",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "FriendsZoneUserFriends"
                   }))
{
     <input id="search" type="text" name="searchString"/>
}</div>
        <div id="FriendsZoneUserFriends">
        @foreach(var friend in Model)
        {
            <div class="FzUserFriend">
        <div class="FzUserLink">
         @Html.ActionLink(friend.DescriptionName, "Details", "Explorer", new { id = friend.Id }, null)
            </div>
        <div class="FzUserFriendContainer">
            <img class="FzUserFriendImg" src='@Url.Action("ShowProfile", "FriendsZone", new { id = friend.Id })' />
        </div>
        <div class="FzUserText">
            
            <div class="req">
                </div>
            <div id="blind">
             @Ajax.ActionLink("Blind", "Blind", new { id = friend.Id }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           UpdateTargetId = "asd"
        }, new { @class = "blinded" })
         </div>
        </div>
    </div>
        }
        </div>
