@model p.Database.Concrete.Entities.ContestPicture

<table>
                        <tr><td>Nices</td><td>@Model.Nices.Count</td></tr>
                        <tr><td>NotSo</td><td>@Model.NotSo.Count</td></tr>
                    </table>