@model IEnumerable<p.Database.Concrete.Entities.Picture>

<h4>Choose a picture</h4>
<div id="allPictures">
@foreach (var picture in Model)
    {
            <div class="albumPictureContainer">
            <a href='@Url.Action("Participate", "DailyContests", new { id = picture.Id })'>
                <img class="albumPicture" src="@Url.Action("AlbumPictureCarusel", "Images", new { id = picture.Id })" />

            </a>
               </div>
}</div>
