@model p.Database.Concrete.Entities.Photographer

<div id="setUpCredentials" style="float:right;width:10%;">
@if (Model.TwitterCredentials.Empty())
{
    <a style="padding-right:3px;" href="@Url.Action("TwitterAccountSetUp","Account")">

        <img style="height:20px;width:20px" src="~/Images/Index/logtweet.png" alt="" />

    </a>        
}
@if (Model.FacebookCredentials.Empty())
{
    <a style="padding-left:3px;" href="@Url.Action("FacebookAccountSetUp","Account")">
        <img style="height:20px;width:20px" src="~/Images/Index/logfacebook.png" alt="" />
    </a>
}
</div>