<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://nicepicchat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-009.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nicepicchat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$nicepicchat</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="nicepictures.Models.UsersContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:n8v81w4ckk.database.windows.net,1433;Initial Catalog=celdor;User ID=apostol_ionut@n8v81w4ckk;Password=Celdor1192" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="nicepictures.Models.UsersContext, nicepictures" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="p.Database.Concrete.Repositories.DatabaseContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:n8v81w4ckk.database.windows.net,1433;Initial Catalog=celdor;User ID=apostol_ionut@n8v81w4ckk;Password=Celdor1192" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="p.Database.Concrete.Repositories.DatabaseContext, p.Database" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-nicepictures-20140518172316.mdf;Initial Catalog=aspnet-nicepictures-20140518172316;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-nicepictures-20140518172316;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-nicepictures-20140518172316.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)nicepictures.Models.UsersContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:n8v81w4ckk.database.windows.net,1433;Initial Catalog=celdor;User ID=apostol_ionut@n8v81w4ckk;Password=Celdor1192</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)p.Database.Concrete.Repositories.DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:n8v81w4ckk.database.windows.net,1433;Initial Catalog=celdor;User ID=apostol_ionut@n8v81w4ckk;Password=Celdor1192</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="nicepictures.Models.UsersContext" />
    <_ConnectionStringsToInsert Include="p.Database.Concrete.Repositories.DatabaseContext" />
  </ItemGroup>
</Project>