@model IEnumerable<p.Database.Concrete.Entities.Picture>


@foreach (var picture in Model)
{
    <a href="@Url.Action("PictureProfile","WorkbenchPictures",new { id = picture.Id})">
    <div class="caruselContainer">
        <img class="caruselImg" src="@Url.Action("PictureCaruselImage","Images",new { id = picture.Id})" />
    </div>
    </a>
}
