@model p.Database.Abstract.Entities.Watermark
<script type="text/javascript">

    $('#setforall').click(function () {
        $(this).text('Watermark changed');
    });


        $('#sub').click(function () {
            $(this).closest('form').submit();
            $('#setforalbum').html('Watermark changed');
            return false;
        });

</script>
<div class="watermarkPictureContainer">

     <img class="watermarkPicture" src='@Url.Action("PreviewWatermarkProfile", "Workbench", new { id = Model.WatermarkName })' />

</div>
<div class="watermarkFormLinks">
    <p id="setforall">@Ajax.ActionLink("Set for all pictures", "SetWatermarkAll", new { id = Model.WatermarkName }
    , new AjaxOptions { UpdateTargetId = "mue" })</p>
    <div id="setforalbum">
        @using (Ajax.BeginForm("SetWatermarkAlbum", "Workbench", new { id = Model.WatermarkName }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mue" }))
        {
            @Html.DropDownList("albumId",(SelectList)ViewBag.Albums) <input id="sub" type="submit" value="change" />
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}